<body>
<div class="container">
  <!-- Start of Main rows -->
  <div class="row" style="background:rgba(240, 240, 240,0.4);padding:10px;margin-top:10px" *ngFor="let y of empData let j = index" [attr.data-index]="j">
    <!-- Start of col-10 -->
    <div class="col-sm-10">

      <!-- Start of row -->
  <div class="row">
    <div class="col-sm-4">
      <label>First Name</label>
      <input type="text" class="form-control" placeholder="Enter First Name" [(ngModel)]="y.emp.firstName">
    </div>

    <div class="col-sm-4">
        <label>Last Name</label>
        <input type="text" class="form-control" placeholder="Enter Last Name" [(ngModel)]="y.emp.lastName">
    </div>

    <div class="col-sm-4">
        <label>User Name</label>
        <input type="text" class="form-control" placeholder="Enter User Name" [(ngModel)]="y.emp.userName">
    </div>
  </div>
  <!-- End of rows -->
  <br>

  <!-- Start of rows -->
  <div class="row">
    <div class="col-sm-4">
        <label>Phone No</label>
        <input type="text" class="form-control" placeholder="Enter Phone No" [(ngModel)]="y.emp.phoneNo">
    </div>

    <div class="col-sm-4">
        <label>Email-address</label>
        <input type="text" class="form-control" placeholder="Enter Email-address" [(ngModel)]="y.emp.address">
    </div>

    <div class="col-sm-4">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Enter password" [(ngModel)]="y.emp.password">
    </div>

  </div>
  <!-- End of rows -->
  <br>
  <!-- Start of rows -->


  <!-- End of rows -->

</div>
<!-- Start of col-10 -->
<br>
<!-- Start of col-1 -->

  <!-- End of col-1 -->


</div>
<!-- End of main Row -->
<br>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
   <button type="submit" class="btn btn-success" (click)="sub()">Register</button><br> <br>

    <a href="http://localhost:3000"> <button class="btn btn-success" >Already register Sign in </button> </a>
  </div>
</div>
</div>


</body>
